<h1> User Profiles </h1>

<!-- <table>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.user_name %> | </td>
			<td><%= link_to 'Show Profile', user_path(user) %> | </td>	
			<td><%= link_to 'Edit Profile', edit_user_path(user) %> | </td>
			<td><%= link_to 'Destroy Profile', user_path(user),
							method: :delete,
							data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table> -->

